# Binaries, plugins, libs
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output directories
/bin/
/obj/
/dist/

# Dependency directories
/vendor/

# IDEs and editors
/.vscode/
*.swp
*.swo
*~

# OS-specific files
.DS_Store
Thumbs.db